config SND_SOC_ZYBO_SND_CARD
	tristate "ZYBO Audio ASoC Sound Card"
	depends on SND_SOC && OF
	select SND_SOC_SSM2602
	select SND_DMAENGINE_PCM
	select SND_SOC_GENERIC_DMAENGINE_PCM
	help
	  This option enables the ASoC sound card for the Digilent ZYBO
	  board with the d_axi_i2s_audio IP core and SSM2603 audio codec.
	  Based on the Zedboard sound card pattern (zed_pl_snd_card.c).

	  To compile this driver as a module, choose M here: the module
	  will be called snd-soc-zybo-snd-card.
